/* stylelint-disable selector-pseudo-element-no-unknown */

.stepper {
  width: 100%;
}

.button--primary,
.button--secondary {
  width: 100%;
}

.content {
  padding: 1rem 0;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width: 960px) {
  ::ng-deep .mat-vertical-content-container {
    margin: 0 auto !important;
  }
}

@media screen and (min-width: 960px) {
  .actions > * {
    width: 100%;
    height: 3rem;

    font-size: 20px;
  }
}
