.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;

  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 15rem;
  height: 100%;

  padding-bottom: 3rem;
}

.logo {
  width: 12rem;
}

.title,
.description {
  text-align: center;
}

.description,
.date {
  margin: 0;
}

.description {
  margin-bottom: 2rem;

  font-weight: 400;
}

.emphasis-1 {
  font-style: italic;
  font-weight: 500;
}

.emphasis-2 {
  font-size: 16px;
  font-weight: 500;
}
