.main-container {
  margin-bottom: 0.5rem;

  border-radius: 0.25rem;
}

.image {
  order: -1;

  height: 75%;
  margin: 0;

  margin-right: 1rem;

  border-radius: 0.25rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.title,
.subtitle {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;

  user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.title {
  margin: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.subtitle {
  margin: 0;

  font-size: 12px;
  font-weight: 400;
}

.line {
  margin-right: 0.75rem !important;
}

.line--status {
  padding-top: 0.5rem !important;
}

.button__icon {
  color: #009993;

  user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.button__icon--disabled {
  color: rgb(0 0 0 / 54%);
}

@media screen and (min-width: 960px) {
  .title {
    margin-bottom: 0.5rem;

    font-size: 20px;
    font-weight: 500;
  }

  .subtitle {
    font-size: 14px;
    font-weight: 400;
  }
}
