:host {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 0 1rem;
}

.with-margin {
  margin-bottom: 1rem;
}

.full-width {
  padding: 0;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  margin: 0;
}

.title--center {
  width: 100%;

  text-align: center;
}

.title__container--center {
  width: 100%;
}

.title__spacing--center {
  min-width: 3rem;
  height: 3rem;
}

.no-dense,
.dense {
  display: flex;
}

.no-dense {
  gap: 1rem;
}

.dense {
  gap: 0.5rem;
}

.button--primary {
  border-radius: 0.25rem;

  background-color: #009993;

  color: #fff;
}

.button--quaternary {
  color: rgb(0 0 0 / 87%);
}

.button__label {
  align-self: center;
  margin-left: 0.5rem;

  font-size: 14px;
  line-height: 14px;
}
