<div class="main-container">
  <mat-icon fontSet="material-icons-outlined" color="primary" class="icon">favorite</mat-icon>

  <div class="caption">
    <h1 class="title mat-title">¡Muchas gracias Lucía!</h1>

    <p class="description mat-body-2">
      Estamos muy agradecidos de que hayas apoyado al proyecto "Escuela de Mar y Playa"
    </p>
  </div>
</div>
