.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 15rem;
  height: 100%;
  gap: 1rem;

  padding: 2rem 0;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0;
}

.icon {
  width: 2rem;
  height: 2rem;

  font-size: 2rem;
  line-height: 2rem;
}

@media screen and (min-width: 960px) {
  .icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.5rem;

    font-size: 3rem;
    line-height: 3rem;
  }

  .title {
    margin-bottom: 1.5rem;

    font-size: 32px;
    line-height: 2.25rem;
  }

  .description {
    font-size: 16px;
  }
}
