/* Angular Material Theme */
@import url('./styles/theme.css');

/* Angular Material Overlay */
@import '~@angular/cdk/overlay-prebuilt.css';

/* Forms */
@import url('./styles/forms.css');

/* General */
html,
body {
  height: 100%;
}

body {
  margin: 0;

  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Angular Material Corrections */
.cdk-overlay-container {
  z-index: 10000;
}
